.fundo{
    height: 100vh;
    background: url(spider-man-miles-morales-4k-2020-ix.jpg);
    background-attachment: fixed;
    background-size: cover;
}
@media screen and (max-width: 1024px) {
  .fundo {
    background-image: url("Free Ps5 Miles Morales Wallpaper Background.jpg");
  }
}