.fundo{
    height: 100vh;
    background-image:linear-gradient(90deg, rgba(11, 12, 16, 0.6) 0%, rgba(11, 12, 16, 0.4) 52.08%, rgba(12, 12, 16, 0.6) 100%),url(spider-man-miles-morales-4k-2020-ix.jpg);
    background-attachment: fixed;
    background-size: cover;
}
@media screen and (max-width: 1024px) {
  .fundo {
    background-image:linear-gradient(90deg, rgba(11, 12, 16, 0.6) 0%, rgba(11, 12, 16, 0.4) 52.08%, rgba(12, 12, 16, 0.6) 100%),url("Free Ps5 Miles Morales Wallpaper Background.jpg");
  }
}
@font-face {
  font-family:'Sora';
  src:url("Sora-Bold.ttf");
}
body{
}
.fundo-barra{
  position: fixed;
  height: 70px;
  width: 100%;
  backdrop-filter: blur(6px);
}
.barra{
  position: fixed;
  background: rgba(29, 29, 29, 0.5);
  height: 70px;
  width: 100%;
}
.esquerda{
  float: left;
}
.marvel{
  padding: 14px 0;
}
.direita{
  padding: 0 20px;
  float: right;
}
.avatar{
  padding: 10px;
  height: 70px;
  border-radius: 100%;
}
.c-button{
  background: none;
  border: none;
  padding: 0 10px;
  height: 70px;
  cursor: pointer;
}
.offcanvas-starte {
  top: 0;
  left: 0;
  width: 350px;
  background: rgba(29, 29, 29);
  transform: translateX(-100%);
}
.texto{
  text-decoration: none;
  padding: 25px 20px;
  font-family: Sora;
  color: #f9f9f9;
  display: block;
}
.texto:hover{
  color: #d60008;
  background: rgba(29, 29, 29, 1)

}
nav{
  position: absolute;
  margin-top: 70px;
  width: 144px;
  background: rgba(29, 29, 29, 0.5);
}
.centro{
  margin:0 auto;
  width:35px;
}
.aranha{
  padding: 10px 0;
  width: 35px;
  height: 70px;
}
main{
  margin: 0;
}
main > img{
  margin-left: auto;
	margin-right: auto;
	display: block;
  height: 445px;
  padding-top: 295px;
}